.header {
    background-color: #ffffff;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        height: 60px;
    }
}

.main {
    min-height: calc(100vh - 60px);
}

.footer {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
}